$color-background:#8A97FE;
$color-font:#FAFAFA;
$color-secondary: #FE81CC;
$color-third:#F6FE78;
$color-fourth:#FE4B4B;

@mixin box{
    height: 300px;
    width: 27%;
    border: 3px $color-third solid;
    background-color: $color-third;
    background-position: top-left;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    transition:transform 500ms, border-color 400ms;
    &:hover{
        transform: scale(1.1);
        border-color: $color-secondary;
    }
}

@mixin box-transparent{
    background-color: transparent;
    height: 85%;
    width: 100%;
}

@mixin box-description{
    padding:5px 0px 5px 0px;
    text-align: center;
    font-size:2rem;
    color: $color-background;
    background-color: $color-third;
    opacity: 0.75;
    transition: all 400ms;
    &:hover{
        background-color: $color-secondary;
        color:$color-third;
    }
}

@mixin a--hover{
    transition:color 200ms;
        &:hover{
            color:$color-secondary;
        }
        &:active{
            color:$color-third;
        }
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scrollbar-width:none;
}
h1{
    color:$color-third;
}
h2{
    color:$color-third;
}
a{
    color:$color-third;
    text-decoration: none;;
}
p{
    color:$color-font;
}
*::-webkit-scrollbar {
    display: none;
    }
body{
    width: 90%;
    margin:auto;
    background-color: $color-background;
}
header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1{
        text-align: justify-all;
        transition:transform 1000ms, color 1200ms;
        &:hover{
            transform:scale(1.3);
            color:$color-secondary;
        }
        a{
            transition:color 1200ms;
            &:hover{
                color:$color-secondary;
            }
        }
    }
    ul{
        display: flex;
        li{
            list-style-type: none;
            padding-left: 30px;
            font-size:1.5rem;
            transition:transform 400ms;
            &:hover{
                transform: scale(1.15);
            }
        }
        a{
            transition:color 300ms;
            &:hover{
                color:$color-secondary;
            }
        }
    }
}
.separation{
    &__line{
        margin-top: 25px;
        margin-bottom: 150px;
        border-top: 2px solid $color-third;
        height: 2px;
    }
}
.bonjour{
    p{
        font-size: 4em;
        text-align: center;
        margin-bottom: 150px;
    }
    &__Marion{
        color:$color-third;
    }
}
.accueil{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    &__a-propos{
        @include box;
        background-image: url('../Pictures/a-propos.png');
    }
    &__a-propos--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__a-propos--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__a-propos--description{
        @include box-description;
    }
    &__CV{
        @include box;
        background-image: url('../CV/CV_Barthoux.png');
        background-size: 100%;
        background-position: top;
    }
    &__CV--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__CV--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__CV--description{
        @include box-description;
    }
    &__sites{
        @include box;
    }
    &__sites--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__sites--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__sites--description{
        @include box-description;
    }
}
.a-propos{
    h2{
        font-size: 1.5rem;
    }
    p{
        text-align: justify;
        margin-bottom: 75px;
        font-size:1.3rem;
        line-height: 1.5rem;
    }
    a{
        @include a--hover;
    }
}
.CV{
    img{
        height: 90%;
        width: 90%;
        display: block;
        margin:auto;
        margin-bottom: 150px;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 150px;
    margin-bottom: 25px;
    .footer__reseaux{
        display: flex;
        img{
            width: 25px;
            height: 25px;
            transition:transform 400ms;
            &:hover{
                transform: scale(1.1);
            }
        }
        &--linkedin, &--git{
            padding-left: 20px;
        }
    }
    a{
        font-size: 1.3em;
    }
    .footer__mail{
        transition:transform 400ms;
            &:hover{
                transform: scale(1.1);
            }
    }
}
