.current{
    @include bloc-disposition;
}
@media screen and (min-width:1050px){
    .current__fiche{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:1050px){
    .current__fiche{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
}