.lectures::-webkit-scrollbar {
    display: none;
    }
.lectures{
    @include bloc-disposition;
    .lectures__visual{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
        @media screen and (min-width:1050px){
            img{
                height:200px;
                transition: transform 500ms;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        @media screen and (max-width:1050px){
            img{
                height:150px;
                transition: transform 500ms;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .fleche img{
        height:30px;
        margin-left:80px;
    }
    @media screen and (min-width:1050px){
        .lectures__fiche{
        @include fiche-livre;
        }
    }
    @media screen and (max-width:1050px){
        .lectures__fiche{
        @include fiche-livre-petit;
        }
    }
    .lectures__fiche--avis{
        flex-wrap: wrap;
        overflow: auto;
        text-align: justify;
        padding-right: 2px;
    }
    @media screen and (max-width:1800px) {
        .lectures__fiche--avis{
            width: 300px;
            height: 125px;
        }
    }
    @media screen and (min-width:1800px) {
        .lectures__fiche--avis{
            width: 600px;
            height: 125px;
        }
    }
    // 3,5/5
    #le-signal, #notre-part-de-nuit{
        .note{
            @include note;
            background: linear-gradient(to right, $color-third 0% 70%, $color-secondary 70% 100%);
        }
    }
    // 4/5
    #la-petite-communiste, #bergeres-guerrieres1, #maitre-des-illusions, #fantaisies-guerilleres{
        .note{
            @include note;
            background: linear-gradient(to right, $color-third 0% 80%, $color-secondary 80% 100%);
        }
    }
    // 4,5/5
    #solitaire, #bergeres-guerrieres2, #bergeres-guerrieres3, #l-espace-d-un-an{
        .note{
            @include note;
            background: linear-gradient(to right, $color-third 0% 90%, $color-secondary 90% 100%);
        }
    }
    // 5/5
    #bergeres-guerrieres4, #les-nuits-bleues{
        .note{
            @include note;
            background: $color-third;
        }
    }
}