.stats::-webkit-scrollbar {
    display: none;
    }
.stats{
    @include bloc-disposition;
    .stats__livres-mois, .stats__pages-mois{
        width:40%;
        height:200px;
        overflow: auto;
        margin:auto;
        margin-bottom: 100px;
        text-align: center;
        font-size:1.5em;
        }
    .stast__livres-mois--barre{
        height:300px;
        vertical-align: bottom;
        .stats__livres-mois--barre-6{
            background: $color-third;
        }
        .stats__livres-mois--barre-1{
            background: linear-gradient(to top,$color-third 0% 17%, $color-primary 17% 100%);
        }
        .stats__livres-mois--barre-2{
            background: linear-gradient(to top,$color-third 0% 34%, $color-primary 34% 100%);
        }
        .stats__livres-mois--barre-3{
            background: linear-gradient(to top,$color-third 0% 50%, $color-primary 50% 100%);
        }
        .stats__livres-mois--barre-0{
            background: $color-primary;
        }
    }
    .stats__total{
        @include note;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom:100px;
        background-color: $color-third;
        p{
            text-align: center;
            font-size: 1.3rem;
        }
    }
    .stast__pages-mois--barre{
        height:300px;
        vertical-align: bottom;
        .stats__pages-mois--barre-1578{
            background: $color-third;
        }
        .stats__pages-mois--barre-864{
            background:linear-gradient(to top, $color-third 0% 55%, $color-primary 55% 100%)
        }
        .stats__pages-mois--barre-1035{
            background:linear-gradient(to top, $color-third 0% 65%, $color-primary 65% 100%)
        }
        .stats__pages-mois--barre-590{
            background: linear-gradient(to top, $color-third 0% 37%, $color-primary 37% 100%);
        }
        .stats__pages-mois--barre-0{
            background:$color-primary;
        }
    }
    td{
        width:3em;
        border-radius: 20%;
    }
    th, h2{
        @include stats-sous-titres;
    }
    .genres__stats{
        height:300px;
        width: 300px;
        margin:auto;
        border-radius: 50%;
        background: conic-gradient(from 45deg, $color-secondary 0% 17%, $color-third 17% 25%, $color-fourth 25% 42%, $color-fifth 42% 59%, $color-sixth 59% 92%, $color-seventh 92% 100%);

    }
    .genres__legend{
        @include legend-display;
        margin-bottom:100px;
        .genres__legend-jeunesse{
            @include legend;
            background-color: $color-secondary;
        }
        .genres__legend-ya{
            @include legend;
            background-color: $color-third;
        }
        .genres__legend-BD{
            @include legend;
            background-color: $color-fourth;
        }
        .genres__legend-polar{
            @include legend;
            background-color: $color-fifth;
        }
        .genres__legend-roman{
            @include legend;
            background-color: $color-sixth;
        }
        .genres__legend-SF{
            @include legend;
            background-color: $color-seventh;
        }
    }
    .note-moyenne{
        margin-bottom: 100px;
        h2{
            @include stats-sous-titres;
        }
        .note-moyenne__bouton{
            @include note;
            background: linear-gradient(to right, $color-third 0% 84%, $color-secondary 84% 100%);
            margin:auto;
        }
    }
}