@mixin box{
    height: 300px;
    width: 27%;
    border: 3px $color-third solid;
    background-color: $color-third;
    background-position: top-left;
    background-repeat: no-repeat;
    border-radius: 2rem;
    overflow: hidden;
    transition:transform 500ms, border-color 400ms;
    &:hover{
        transform: scale(1.1);
        border-color: $color-secondary;
    }
    @media screen and (max-width:700px){
        width: 250px;
        margin-bottom: 50px;
    }
    @media screen and (min-width:701px) and (max-width:1079px){
        width: 500px;
        margin-bottom: 50px;
    }
}

@mixin box-transparent{
    background-color: transparent;
    position: relative;
    height: 84%;
    width: 100%;
}

@mixin box-description{
    background-color: $color-third;
    position: relative;
    opacity: 0.90;
    transition: all 400ms;
    &:hover{
        background-color: $color-secondary;
        color:$color-third;
    }
    p{
        text-align: center;
        font-size:2rem;
        color: $color-background;
    }
    @media screen and (max-width:500px) {
        p{
            font-size: 1.5rem;
            height: 70px;
        }
        padding: 5px;
    }
}

@mixin a--hover{
    transition:color 200ms;
        &:hover{
            color:$color-secondary;
        }
        &:active{
            color:$color-third;
        }
}

@mixin text{
    text-align: justify;
    font-size:$p-font-size;
    line-height: 1.5rem;
    @media screen and (max-width:1079px) {
        font-size: 1rem;
    }
}
