// $color-background:#8A97FE;
// $color-font:#FAFAFA;
// $color-secondary: #FE81CC;
// $color-third:#F6FE78;
$color-fourth:#FE4B4B;

// white mode
// $color-background:#ffffff;
// $color-font:#011638;
// $color-secondary:#4CC9F0;
// $color-third:#b942f1;

$color-background:#fefae0;
$color-font:#283618;
$color-secondary:#43291F;
$color-third:#BC6C25;

// dark mode
// $color-background:#011638;
// $color-font:#CABAC8;
// $color-secondary:#8BE8CB;
// $color-third:#CABAC8;

$p-font-size:1.3rem;
$h2-font-size:1.5rem;