@mixin nav{
    width: 30%;
    text-align: center;
    height: 50px;
    &-hide{
        visibility:collapse;
        position:relative;
        z-index:1;
        background-color: #fff;
        font-size:1.5rem;
        padding-top: 20px;
        li{
            margin:15px;
            text-align: left;
            color:$font-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &:hover{
        .nav__title-catalogue-hide{
            visibility: visible;
        }
        .nav__title-vie-hide{
            visibility: visible;
        }
        .nav__title-cercle-hide{
            visibility: visible;
        }
    }
}