@use "../_var.scss" as var;
@use "../_mixins.scss" as mix;

header{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,129,112,0.3);
    backdrop-filter: blur(50px);
    nav{
        ul{
            list-style: none;
            display: flex;
            li{
                padding: 1rem;
                margin: 2rem 3rem;
            }
        }
        a{
            @include mix.nav("no");
            color: var.$white;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        @media screen and (max-width:768px){
            ul{
                li{
                    margin: 1rem 1.5rem;
                }
            }
            a{
                @include mix.nav('mobile');
            }
        }
    }
}