@use "../_var.scss" as var;
@use "../_mixins.scss" as mix;

.home{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
    gap: 30px;
    background: linear-gradient(var.$light, var.$medium);
    text-align: center;
    img{
        width: 420px;
    }
    p{
        width: 420px;
        color: var.$white;
        @include mix.big("no");
        strong{
            text-shadow: 5px 5px 15px var.$dark,
                        -5px -5px 15px var.$dark,
                        -5px 5px 15px var.$dark,
                        5px -5px 15px var.$dark,
        }
    }
    @media screen and (max-width:768px){
        flex-direction: column;
        img{
            width: 200px;
        }
        p{
            @include mix.big("mobile");
        }
    }
}