body{
    width:90%;
    margin:auto;
}
h1{
    font-family: "Poppins", Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: $title-color;
    margin:0%;
}
h2{
    font-family: "Chivo", Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-weight:bold;
    font-size: 32px;
    color:$title-color;
    margin:0%;
}
.h2-highlight{
    font-family: "Chivo", Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: $title-color;
    margin:0%;
}
.header__font{
    font-family: "Poppins", Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: bold;
    font-size:72px;
    color:$title-color;
    margin:0%;
    margin-bottom: 50px;
}
.body-highlight{
    font-family: "Chivo", Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin:0%;
}
.body-highlight-color{
    font-family: "Chivo", Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    color:$highlight-color;
    font-size: 24px;
    font-weight: bold;
    margin:0%;
}
p{
    font-family: "Chivo", Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 24px;
    color: $title-color;
    margin:0%;
}
a{
    text-decoration: none;
    color:$title-color;
}