.bonjour{
    margin-bottom: 150px;
    p{
        font-size: 4em;
        text-align: center;
        @media screen and (max-width:700px) {
            font-size: 2em;
        }
        @media screen and (min-width:701px) and (max-width:1079px) {
            font-size: 3em;
        }
    }
    &__Marion{
        color:$color-third;
    }
}
.accueil{
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width:1079px){
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    &__a-propos{
        @include box;
        background-image: url('../Pictures/a-propos.png');
        background-size: cover;
    }
    &__a-propos--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__a-propos--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__a-propos--description{
        @include box-description;
    }
    &__CV{
        @include box;
        background-image: url('../CV/CV_Barthoux.png');
        background-size: 100%;
        background-position: top;
    }
    &__CV--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__CV--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__CV--description{
        @include box-description;
    }
    &__sites{
        @include box;
        background-image: url('../Pictures/sites.png');
        background-size: cover;
    }
    &__sites--hover-transparent{
        @include box-transparent;
        &:hover + .accueil__sites--description{
            background-color: $color-secondary;
            color:$color-third;
        }
    }
    &__sites--description{
        @include box-description;
    }
}