@mixin bloc-disposition{
    padding:25px 0px 25px 0px;
    background-color: $color-primary;
    border-radius: 18% 82% 19% 81% / 44% 50% 50% 56%;
    margin-bottom: 100px;
    height:600px;
    overflow:auto;
    scrollbar-width: none;/*Hide scrollbar for firefox*/
    h1{
        font-size: 3em;
        text-align: center;
        font-weight: normal;
    }
    img{
        height:400px;
    }
}
@mixin fiche-livre{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
@mixin fiche-livre-petit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
    text-align: center;
}
@mixin note{
    width: 175px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
@mixin legend-display{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
@mixin legend{
    width: 20px;
    height:20px;
    border-radius: 50%;
    margin-left:8px;
}
@mixin stats-sous-titres{
    text-align:center;
    font-size:30px;
    font-weight: bold;
}