@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Playfair+Display:wght@400;700&display=swap');

$primary-color:#bd0b34;
$font-color:#070600;
$font-color-light:#fff;

@mixin nav{
    width: 30%;
    text-align: center;
    height: 50px;
    &-hide{
        visibility:collapse;
        position:relative;
        z-index:1;
        background-color: #fff;
        font-size:1.5rem;
        padding-top: 20px;
        li{
            margin:15px;
            text-align: left;
            color:$font-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &:hover{
        .nav__title-catalogue-hide{
            visibility: visible;
        }
        .nav__title-vie-hide{
            visibility: visible;
        }
        .nav__title-cercle-hide{
            visibility: visible;
        }
    }
}

body{
    width: 90%;
    margin: auto;
}
p{
    font-family: 'Fanwood Text', serif;
    font-size:1.5rem;
    margin: 0;
    a{
        font-family: 'Fanwood Text', serif;
    }
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color:$font-color-light;
    a{
        font-family: 'Playfair Display', serif;
    }
}
h2{
    font-family: 'Playfair Display', serif;
    a{
        font-family: 'Playfair Display', serif;
    }
}
header{
    margin-top: 50px;;
    margin-bottom:50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px; 
    img{
        width: 30%;
        grid-area: 1 / 1 / 2 / 2;
        align-self: end;
    }
    .header__search{
        align-self: end;
        grid-area: 1 / 2 / 2 / 3;
        input{
            width: 500px;
            border-radius: 2em;
            border:1.5px solid $primary-color;
            &:focus{
                border:2.5px solid $primary-color;
                outline: none;
            }
        }
        button{
            width: 50px;
            background-color: transparent;
            border:none;
            cursor: pointer;
            &:active{
                transform: scale(1.2);
            }
            img{
                width: 20px;
            }
        }
    }
    p{
        grid-area: 1 / 3 / 2 / 4;
        text-align: center;
        transition: transform 400ms;
        justify-self: end;
        &:hover{
            transform: scale(1.1);
        }
        a{
            color:$font-color;
            text-decoration: none;
        }
    }
}
nav{
    display: flex;
    justify-content: center;
    font-size: 2em;
    border-top: $primary-color solid 3px;
    border-bottom: $primary-color solid 3px;
    ul{
        list-style-type:none;
        a{
            color:$font-color;
            text-decoration: none;
            display: block;
        }
    }
    .nav__title-deroulant{
        transition: all 400ms;
        &:hover{
            color:$primary-color;
        }
    }
    .nav__title-catalogue{
        @include nav;
    }
    .nav__title-vie{
        @include nav;
    }
    .nav__title-cercle{
        @include nav;
    }
}
.nouveautes{
    margin-top: 150px;
    padding-bottom: 50px;
    background-color: $primary-color;
    img{
        height: 500px;
        padding-bottom: 10px;
    }
    h1{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    p{
        color:$font-color-light;
    }
    aside{
        display: flex;
        justify-content: space-around;
    }
}
.prochain{
    margin-top:150px;
    padding-bottom:50px;
    background-color: $primary-color;
    img{
        height: 500px;
        padding-bottom:10px;
    }
    h1{
        text-align: center;
        padding-top:50px;
        padding-bottom: 50px;
    }
    p{
        color:$font-color-light;
    }
    &__container{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    aside{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: left;
    }
}