footer{
    border-top:3px $title-color solid;
    background-color: $light-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px;
    p{
        color:$title-color;
    }
    img{
        height:75px;
    }
    .footer-legal{
        p{
            text-align: right;
        }
    }
}