nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .logo{
        img{
            height: 150px;
        }
    }
    .nav__titles{
        display: flex;
        h1{
            margin-left: 50px;
        }
        .nav__h1-underline{
            border-bottom: 3px solid $highlight-color;
        }
        h1{
            transition: transform 500ms;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}