footer{
    margin-top: 150px;
    margin-bottom: 50px;
    padding-top:20px;
    padding-bottom:20px;
    border-top:$primary-color solid 3px;
    border-bottom:$primary-color solid 3px;
    display: flex;
    justify-content: space-between;
}